<div class="grid">
  <div class="unit-1">
    <div class="box">
      <p id="notice"><%= notice %></p>
      <p>
        <%= link_to 'Edit', edit_admin_product_model_image_path(@product, @entry), :class => "button-positive", :style => "float : right" %>
        <h1><%= @entry.product.code %> &#x2012; <%= @entry.product.title %> / <%= @entry.gender_type %></h1>
      </p>
      <hr/>

      <table>
        <tr>
          <td><strong>Image</strong></td>
          <td>&nbsp; : &nbsp;</td>
          <td><%= image_tag @entry.upload.url(:small) if @entry.upload.exists? %></td>
        </tr>
      </table>      


    </div>
  </div>
  <div class="unit-1">
    <div class="box">
      <%= link_to 'Back', admin_product_path(@product), :class => "button" %>
    </div>
  </div>
</div>

