<%= form_for(@entry, :url => "/admin/lens/#{@entry.new_record? ? "" : @entry.id}", :html => {:class => "simple-form simple-form-stacked"}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Fill in the content below</legend>

    <%= f.label :title %>
    <%= f.text_field :name, :class => "simple-input-2-3" %>
    
    <%= f.label :price %>
    <%= f.text_field :price %>

    <br/>
    <%= f.submit "Save Data", :class => "simple-button simple-button-primary button-positive" %>

  </fieldset>

<% end %>


