<div class="grid-auto profile">
  <div class="unit-1-4">
    <%= render :partial => "user_sidebar.html.erb" %>
  </div>
  <div class="unit-3-4">
    <div class="container marginleftright">
      <h2>Wall</h2>
      <div class="grid-auto">
        <% for photo in @user.user_fit_rooms.where("temprary IS NULL OR temprary = ?", false) %>
          <div class="unit-1-3 user-post">
            <%= image_tag photo.target_image.url(:small) %>
            <br/>
            <div class="title"><%= !photo.title.blank? ? photo.title : "Look cool with " + photo.product.title.to_s %></div>
            <div><a href="#" jsclass="post-to-facebook" itemid="<%= photo.product.id %>" wallid="<%= photo.id %>" src="<%= photo.target_image.url(:large) %>">Post to Facebook</a> | <a href="#" jsclass="delete-wall" itemid="<%= photo.id %>">Delete</a></div>
          </div>
        <% end %>
        <div class="unit-1-3 submit-post">
          <a href="/users/visual_try_on"><img src="/assets/submit-post.png"/></a>
          <div>Add your picture <br/>
              (visual try on)
          </div>    
        </div>

      </div>
    </div>
  </div>
</div>