<ul class="sidebar-menu">
  <li class="<%= @faq %>"><a href="/faq">Frequently Asked Questions</a></li>
  <li class="<%= @philosophy %>"><a href="/philosophy">Philosophy</a></li>
  <li class="<%= @returns %>"><a href="returns">Guarantee Policy</a></li>
  <li class="<%= @privacy %>"><a href="/privacy">Privacy Policy</a></li>
  <li class="<%= @terms %>"><a href="/terms">Terms of Use</a></li>
  <li class="<%= @referral %>"><a href="/referral">Referral Campaign</a></li>
  <li class="<%= @contactus %>"><a href="/contactus">Contact Us</a></li>
  <li class="<%= @apps %>"><a href="/apps">Mobile Apps</a></li>
  <li class="<%= @contest %>"><a href="/contest">Contest</a></li>
</ul>