<div class="grid-auto container">
  <h2>Checkout > Mailing Address</h2>
</div>

<form class="simple-form simple-form-stacked" action="/carts/billing" method="post">
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    Select your billing:
    <select name="billing_id" jsclass="billing-selector" inputname="entry">
      <option value="0">Create New</option>
      <% current_user.billing_addresses.all.each do |p| %>
        <option value="<%= p.id %>"><%= p.address_line_1 %> <%= p.country %> <%= p.postal_code %></option>
      <% end %>
    </select>
  <% end %>

  <fieldset>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />   
    <div class="grid-auto">
      <!-- Address Billing -->
      <div class="unit-2-3">
        <div class="grid-auto">
          <div class="unit-1-1">
            <div class="box">
              <label for="full_name">Full Name</label>
              <input id="full_name" name="entry[full_name]" value="<%= @entry.full_name %>" type="text" class="simple-input-2-3">
            </div>
          </div>
          <div class="unit-2-3">
            <div class="box">
              <label for="address">Address</label>
              <input id="address_line_1" name="entry[address_line_1]" value="<%= @entry.address_line_1 %>" type="text" class="simple-input-1"><br/>
              <input id="address_line_2" name="entry[address_line_2]" value="<%= @entry.address_line_2 %>" type="text" class="simple-input-1"><br/>
              <input id="address_line_3" name="entry[address_line_3]" value="<%= @entry.address_line_3 %>" type="text" class="simple-input-1"><br/>
            </div>
          </div>
          <div class="unit-1-3"></div>
          <div class="unit-1-3">
            <div class="box">
              <label for="region">Region</label>
              <input id="region" name="entry[region]" value="<%= @entry.region %>" type="text" class="simple-input-1">
            </div>
          </div>
          <div class="unit-1-3">
            <div class="box">
              <label for="region">State</label>
              <input id="state" name="entry[state]" value="<%= @entry.state %>" type="text" class="simple-input-1">
            </div>
          </div>
          <div class="unit-1-3"></div>
          <div class="unit-1-3">
            <div class="box">
              <label for="country">Country</label>
              <select name="entry[country]" class="simple-input-1 country-dropdown" jsclass="shipping-country-dropdown">
                <%= country_options_for_select(@entry.country || "Singapore") %>
              </select>
            </div>
          </div>
          <div class="unit-1-3">
            <div class="box">
              <label for="country">Postal Code</label>
              <input id="country" name="entry[postal_code]" value="<%= @entry.postal_code %>" type="text" class="simple-input-1">
            </div>
          </div>
          <div class="unit-1-3"></div>
          <div class="unit-1-3">
            <div class="box">
              <label for="contact_no">Contact No</label>
              <input id="contact_no" name="entry[contact_no]" value="<%= @entry.contact_no %>" type="text" class="simple-input-1"><br/>
            </div>
          </div>
          <div class="unit-1-3">
            <div class="box">
              <label for="contact_no">Email</label>
              <input id="email" name="entry[email]" value="<%= @entry.email %>" type="text" class="simple-input-1"><br/>
            </div>
          </div>
          
        </div>
      </div>
      
      <!-- delivery box -->
      
    </div>


    <div class="grid-auto container">
      <h3>Checkout > Delivery Cost</h3>

      <div class="unit-1-1">
        <div class="delivery-cost" style="background :#FFF">
          <div class="sg-cost point"><input type="radio" name="entry[delivery_type]" <%= @entry.delivery_type == "local" ? "checked=\"checked\"" : "" %> value="local" checked="checked"><span>Free (Singapore)</span></div>
          <div class="out-sg-cost point"><input type="radio" name="entry[delivery_type]" <%= @entry.delivery_type == "international-standard" ? "checked=\"checked\"" : "" %> value="international-standard"><span>International (Standard $10 per item)</span></div>
          <div class="out-sg-cost point"><input type="radio" name="entry[delivery_type]" <%= @entry.delivery_type == "international-air" ? "checked=\"checked\"" : "" %> value="international-air"><span>International (Air $20 item)</span></div>
          </ul>
        </div>
      </div>

    </div>

    <div class=grid="auto">
      <div class="unit-1-1">
        <div class="box">
          <button type="submit" class="simple-button big-blue-button">Next</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<script>
$(document).ready(function () {
  $.actor.getListener("shipping-country-dropdown[change]")($(".country-dropdown"));
})
</script>