<%= form_for([:admin, @entry], :html => {:class => "simple-form simple-form-stacked"}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Fill in the content below</legend>

    <%= f.label :title %>
    <%= f.text_field :title, :class => "simple-input-2-3" %>
  
    <%= f.label :description %>
    <%= f.text_area :description, :class => "simple-input-2-3" %>
  
    <label>URL</label>
    <%= f.text_field :url %>

    <%= image_tag @entry.upload.url(:small) if @entry.upload.exists? %>
    <br/>
    
    <%= f.file_field :upload %>

    <br/>
    <br/>
    <%= f.submit "Save Data", :class => "simple-button simple-button-primary button-positive" %>

  </fieldset>

<% end %>


