<% [[Color, @colors], [FrameWidth, @frame_widths], [FrameShape, @frame_shapes]].each do |klass, entries| %>

  <!-- listing -->
  <div class="grid-auto">
    <div class="unit-3-8">
      <div class="box">
        <%= link_to "New #{klass.to_s.gsub(/([a-z])([A-Z])/, '\1 \2')}", new_admin_setting_path(:type => klass.to_s), :class => 'button-positive' %>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="unit-1">
      <ul class="list">
        <li class="list-divider">
          <div class="grid">
            <div class="unit-1-8">Name</div>
            <div class="unit-3-8">Action</div>
          </div>
        </li>
        <% entries.each do |entry| %>
        <li>
          <div class="grid-auto">
            <div class="unit-1-8"><%= entry.name %></div>
            <div class="unit-3-8">
              <%= link_to 'Edit', edit_admin_setting_url(entry, :type => entry.class.to_s), :class => "button" %>
              <%= link_to 'Delete', admin_setting_url(entry, :type => entry.class.to_s), method: :delete, data: { confirm: 'Are you sure?' }, :class => "button-negative" %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="digg_pagination box">
    <%= will_paginate entries %>
  </div>

<% end %>

